body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Knif Mono';
  font-size: 1vw;
  color: black;
  background-color: #EEEEEE;
}

@font-face {
  font-family: 'Knif Mono';
  src: url('./typeface/knif-mono.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

audio {
  padding: 0 5px;
  width: 100%;
  opacity: 50%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: white;
}

.so-page {
  position: relative;
  width: 100%;
}

.so-page-inner {
  z-index: 1;
}

/* Columns */

.so-column-section {
  width: 90%;
  margin: 0 5%;
  padding: 25px 0;
  justify-content: space-between;
  display: flex;
  float: left;
}

.so-first-column {
  width: 20%;
}

.so-second-column {
  width: 20%;
}

.so-third-column {
  width: 20%;
}

.so-fourth-column {
  width: 20%;
}

.so-spacing--xsmall {
  margin-top: 25px;
}

.so-spacing--small {
  margin-top: 75px;
}

.so-spacing--medium {
  margin-top: 150px;
}

.so-spacing--large {
  margin-top: 250px;
}

.so-spacing--xlarge {
  margin-top: 400px;
}

/* Video Styling */

.so-video-width {
  width: 100%;
  box-shadow: 5px 5px 5px grey;
}

/* Image Styling */

.so-image-full {
  width: 100%;
  box-shadow: 5px 5px 5px grey;
}

/* Audio Styling */

.so-audio-container {
  z-index: 10;
  width: 100%;
  top: 0;
}

audio::-webkit-media-controls-panel {
  background-color: #D5D8DC;
}

audio::-webkit-media-controls-current-time-display {
  color: #fff;
}
