body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: courier;
  font-size: 3vw;
  color: black;
}

button {
  margin-right: 2px;
  background-color: white;
  z-index: 1000;
}

.so-scan-container {
  margin: 30px;
  z-index: 100;
}

.so-play-stop-container {
  display: flex;
}

.so-play-stop-container--fixed-top {
  position: fixed;
  top: 0;
  padding-top: 30px;
}

.so-play-stop-container--fixed-bottom {
  position: fixed;
  bottom: 0;
  padding-bottom: 30px;
}

.so-video-container {
  width: 80%;
  margin: 0 10%;
  padding-top: 30px;
}

.so-video-width {
  width: 100%;
  top: 0;
  margin-bottom: 30px;

}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

/* Colours */

.red {
  background-color: red;
  animation-name: flicker;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.red:hover {
  background-color: red;
  animation: none;
}
