body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Knif Mono';
  font-size: 1vw;
  color: black;
  background-color: #EEEEEE;
}

@font-face {
  font-family: 'Knif Mono';
  src: url('./typeface/knif-mono.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

audio {
  padding: 0 5px;
  width: 20%;
  opacity: 50%;
  z-index: 100;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: white;
}

.so-page {
  position: relative;
  width: 100%;
}

.so-page-inner {
  z-index: 1;
}

/* Columns */

.so-column-section {
  position: fixed;
  width: 90%;
  margin: 0 5%;
  padding: 25px 0;
  justify-content: center;
  display: flex;
  float: left;
  top: 0;
  z-index: 100;
}

/* Video Styling */

.so-video-width {
  width: 100%;
  z-index: 10;
}

.so-video-container {
  position: absolute;
}

/* Image Styling */

.so-image-full {
  width: 100%;
  box-shadow: 5px 5px 5px grey;
}

/* Audio Styling */

.so-audio-container {
  width: 100%;
  top: 0;
}

audio::-webkit-media-controls-panel {
  background-color: #D5D8DC;
}

audio::-webkit-media-controls-current-time-display {
  color: #fff;
}
