body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: courier;
  font-size: 3vw;
  color: black;
  overflow: hidden;
}

button {
  margin-right: 2px;
  background-color: white;
}

.so-scan-container {
  margin: 30px;
}

.so-scan-container-inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.so-play-stop-container--fixed {
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
}

.so-video-container {
  position: fixed;
  width: 35%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 32.5%;
  justify-content: space-around;
  display: flex;
}

.so-video-width {
  width: 100%;
  margin: 10px;

}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

/* Colours */

.red {
  background-color: red;
  animation-name: flicker;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.red:hover {
  background-color: red;
  animation: none;
}
