body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: helvetica;
  font-size: 10px;
  color: black;
  background-color: white;
  background-color: #c199ff;
}

@font-face {
  font-family: 'Lincoln';
  src: url('../typefaces/lincoln.otf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CMU Normal';
  src: url('../typefaces/cmu-normal.ttf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CMU Italic';
  src: url('../typefaces/cmu-italic.ttf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}

a:visited {
  color: none;
}

img {
  width: 100%;
}

.tw-page {
  position: relative;
  background-color: #c20000;
  border-bottom: 2px black solid;
  cursor: default;
}

.tw-header-container {
  width: 100%;
  background-color: #c199ff;
  position: fixed;
  border-bottom: 2px black solid;
}

.tw-header-container-inner {
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lincoln';
  font-size: 40px;
}

.tw-pink-hover:hover {
  color: pink;
}

.tw-main-text-container {
  padding-top: 150px;
  margin: 0 300px 0px 300px;
}

.tw-title-container {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
  text-decoration: underline;
}

.tw-text-container {
  font-size: 20px;
  font-weight: lighter;
  font-family: 'CMU Normal';
  margin-bottom: 20px;
}

.tw-text-container--italic {
  font-family: 'CMU Italic';
}

.tw-image-container {
  width: 50%;
  margin: 0 25%;
  margin-top: 20px;
}

.tw-video-margin {
  width: 70%;
  margin: 0 15%;
  margin-top: 20px;
  z-index: 0;
}

.tw-image-annotation {
  font-size: 15px;
  font-family: 'CMU Normal';
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.tw-underline {
  text-decoration: underline;
}

.tw-washing-container {
  width: 20%;
  margin: 0 40%;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (min-device-width: 320px) and
(max-device-width: 700px) and
(-webkit-min-device-pixel-ratio: 1) {

  .tw-header-container-inner {
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lincoln';
    font-size: 60px;
  }

  .tw-main-text-container {
    padding-top: 150px;
    margin: 0 75px;
  }

  .tw-text-container {
    font-size: 20px;
    font-weight: lighter;
    font-family: 'CMU Normal';
    margin-bottom: 30px;
  }

  .tw-image-container {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }

  .tw-video-margin {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }

  .tw-washing-container {
    width: 30%;
    margin: 0 35%;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
