body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: helvetica;
  font-size: 10px;
  color: black;
  background-color: white;
  background-color: #c199ff;
}

@font-face {
  font-family: 'Lincoln';
  src: url('../typefaces/lincoln.otf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}

a:visited {
  color: none;
}

img {
  width: 100%;
}

.tw-page {
  position: relative;
  background-color: #c20000;
  border-bottom: 2px black solid;
}

.tw-header-container {
  width: 100%;
  background-color: #c199ff;
  position: fixed;
  border-bottom: 2px black solid;
}

.tw-header-container-inner {
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lincoln';
  font-size: 40px;
}

.tw-pink-hover:hover {
  color: pink;
}

.tw-main-text-container {
  padding-top: 300px;
  padding-bottom: 100px;
  margin: 0 30px 30px 30px;
}

.tw-title-container {
  position: fixed;
  top: 150px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: lighter;
}

.tw-text-container {
  font-size: 30px;
  font-weight: lighter;
  margin: 0 125px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
